body {
    background-color: powderblue;
    font-family: 'Comfortaa';
  }

  h1 {
    
    color: black;
    font-size: 100px;

  }

  .photome {
    width: 30%;
  }

  #aboutmeinfo {
    font-family: 'Comfortaa';
    background-color: #184371;
    padding: 90px;
    text-align: center;
    font-size: 30px;
    color: white;
  }

  .links {
    background-color: rgb(193, 91, 193);
    color: white;
    border: 2px solid black;
    margin: 50px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 20px;
    font-size: 30px;
  }

