body {
    background-color: powderblue;
  }

  h1 {
    color: black;
  }
  

  .photome {
    width: 30%;
  }
  
  #aboutmeinfo {
    background-color: #184371;
    padding: 30px;
    text-align: center;
    font-size: 22px;
    color: white;
  }

  .links {
    background-color: rgb(193, 91, 193);
    color: white;
    border: 2px solid black;
    margin: 50px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 20px;
    font-size: 30px;
  }

